<div class="dialog">
    <div class="search-bar">
        Recommendations:
    </div>
    <div *ngIf="showTable">
        <table>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{ u.username }}</td>
                    <td>
                        <button
                            *ngIf="!u.followingStatus"
                            (click)="follow(u.userId)"
                            color="primary"
                            mat-raised-button
                        >
                            Follow
                        </button>
                        <p *ngIf="u.followingStatus">Following</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
