<button
    *ngIf="user.role === 'tourist'"
    (click)="onAddClicked()"
    [disabled]="!reviewExists"
    color="primary"
    mat-icon-button
>
    <mat-icon>add</mat-icon>
</button>

<div class="review-list">
    <div class="review" *ngFor="let review of reviews">
        <div class="border">
            <div class="stars">
                {{ review.rating }}
                <fa-icon class="fa-star" [icon]="faStar" />
            </div>
            <div class="review-comment">
                <div>
                    {{ review.comment }}
                </div>
            </div>

            <div class="image-gallery">
                <div class="gallery-design">
                    <button
                        *ngFor="let image of review.images"
                        (click)="showImage(image)"
                    >
                        <img [src]="image" alt="Review Image" />
                    </button>
                </div>
            </div>

            <div class="last-row">
                <div class="trip-date">
                    Trip date: {{ review.tourVisitDate }}
                </div>
                <div>Comment date: {{ review.commentDate }}</div>
            </div>
        </div>
    </div>
</div>
