/* :host {
    margin-top: auto;
    width: 100%;
}

.footer {
    color: black;
    padding: 1.25rem 0;
    background-color: rgba(var(--clr-background-secondary), 1);
    color: rgb(var(--clr-text));
    width: 100%;
    bottom: 0;
}

.footer-container {
    max-width: 75rem;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    text-align: center;
    margin-bottom: 1.25rem;
}
.footer p {
    font-size: 1rem;
    display: flex;
    margin-top: 1.85rem;
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.footer-icon-social-media {
    width: 2rem;
    margin-right: 0.625rem;
}

h2 {
    display: flex;
    vertical-align: middle;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.footer-company-items {
    display: flex;
    vertical-align: middle;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.footer-support-items {
    display: flex;
    vertical-align: middle;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.payment-icons {
    display: flex;
    align-items: center;
}
.payment-methods {
    padding-top: 2rem;
}
.footer-line {
    border-top: 1px solid rgb(var(--clr-neutral-100));
    margin: 0.625 auto;
    margin-top: 1.5rem;
    width: 100%;
}
a {
    text-decoration: underline;
    font-weight: normal;
    color: rgb(var(--clr-text));
}
a:hover {
    color: blue;
} */

:host {
    margin-top: auto;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block: 1rem;
    background-color: rgba(var(--clr-background-secondary), 1);
    transition: background-color 0.15s;
    bottom: 0;
}

.separator {
    height: 1rem;
    width: 95%;
    border-bottom: rgba(var(--border-primary), 1) 1px solid;
    transition: border 0.15s;
}

.footer-top {
    width: 95%;
    transition: background-color 0.15s;
    margin-bottom: 1rem;
}

.footer-bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    transition: background-color 0.15s;
}

.top-flex {
    height: 100%;
    width: 100%;
    display: flex;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo-icon {
    height: 2.5rem;
}

.navbar-logo-text {
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    margin-left: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(var(--clr-primary-500), 1);
    user-select: none;
}

.company-logo {
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;
    border: rgba(var(--border-primary), 1) 1px solid;
    transition: border 0.15s;
}

.menus {
    height: 100%;
    width: calc(100% - 10rem);
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 0.375rem;
}

.title {
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-header);
    font-size: 1rem;
    transition: color 0.15s;
    margin-bottom: 1rem;
}

.item {
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-size: 1rem;
    transition: color 0.15s;
    cursor: pointer;
}

.item:hover {
    color: rgba(var(--clr-primary-500), 1);
}

.contact {
    display: flex;
    align-items: center;
}

.contact-icon {
    color: rgba(var(--clr-text), 1);
    font-size: 1rem;
    transition: color 0.15s;
    margin-right: 0.5rem;
}

.contact-text {
    color: rgba(var(--clr-text), 1);
    font-size: 1rem;
    transition: color 0.15s;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: rgba(var(--clr-text), 1);
    transition: background-color 0.15s;
    cursor: pointer;
}

.social:hover {
    background-color: rgba(var(--clr-text), 0.9);
}

.social-icon {
    color: rgba(var(--clr-background-secondary), 1);
    transition: color 0.15s;
    font-size: 1.5rem;
}

.copyright {
    margin-top: 1rem;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
    font-size: 1rem;
    font-family: var(--fnt-body);
}