<div class="about-us">
    <div class="banner">
        <img class="banner-image" src="assets/images/about-us.jpg"/>
        <div class="banner-text-position">
            <div class="banner-text">About us</div>
        </div>
    </div>

    <div class="content">
        <div class="title">What is Explorer</div>
        <div class="introduction">
            <div class="introduction-left">
                Explorer is the ultimate travel companion, designed for both tourists and tour guides. This app seamlessly connects explorers with knowledgeable guides to unlock the full potential of their journey. Offering a user-friendly interface, Explorer provides curated tours, insightful information, and interactive maps to enhance the travel experience. Whether you're a tourist seeking local expertise or a guide looking to showcase hidden gems, Explorer is your go-to platform for immersive and unforgettable adventures. Discover new destinations, gain valuable insights, and make the most of your travels with Explorer.
            </div>
            <div class="introduction-right">
                <div class="navbar-logo">
                    <img class="navbar-logo-icon" src="/assets/icons/logo.svg" />
                    <div class="navbar-logo-text">Explorer</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">Explore with fun interactive tours</div>
            <div class="paragraph">
                Embark on a solo adventure like never before with Explorer's Interactive Tours feature. Designed for the independent traveler, this innovative functionality allows tourists to explore destinations at their own pace, guided by the app's interactive map. As you traverse the tour route, unlock hidden secrets and fascinating insights about key points of interest. Engage with the rich history, culture, and stories of each location through a captivating digital experience. Explorer empowers you to be the master of your journey, offering a personalized and immersive exploration that goes beyond the conventional tourist experience. Uncover the mysteries of each stop and create lasting memories with the freedom to discover on your terms.
            </div>
            <div class="quote">
                <div class="quote-text">
                    "Explorer transformed my solo travel experience into an unforgettable journey of self-discovery."
                </div>
                <div class="quoted-by">
                    Filip Simić, Novi Sad, 2024.
                </div>
            </div>
            <img class="image" src="https://images.pexels.com/photos/842578/pexels-photo-842578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        </div>
        <div class="section">
            <div class="title">Participate in various challenges and encounters</div>
            <div class="paragraph">
                Our "Challenges and Encounters" feature on the Interactive Tours sets us apart, transforming mundane sightseeing into an adventure-filled experience. As you navigate through your chosen destinations, the app seamlessly integrates fun and interactive challenges into your route. These tasks, ranging from solving riddles to completing exciting missions, not only enhance your travel experience but also encourage a deeper connection with the local culture and history. The Explorer app is designed to turn every step into a discovery, ensuring that your journey is not just a destination but a thrilling exploration full of surprises and memorable encounters. Join us in reshaping the way you explore, one interactive challenge at a time.
            </div>
            <div class="quote">
                <div class="quote-text">
                    "Exploring with Explorer is more than a journey, it's an adventure at every turn."
                </div>
                <div class="quoted-by">
                    Miloš Milutinović, Novi Sad, 2024.
                </div>
            </div>
            <img class="image" src="https://images.pexels.com/photos/4552990/pexels-photo-4552990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        </div>
        <div class="section">
            <div class="title">Join communities and share your stories on our blog</div>
            <div class="paragraph">
                Explorer goes beyond traditional tourism, inviting users to join clubs where they can share their unique experiences, insights, and travel tips. Whether you're a seasoned explorer or a first-time tourist, these clubs provide a platform to connect with like-minded individuals, fostering a community of global adventurers. Moreover, both tourists and tour guides are invited to participate in our collaborative blog, where they can weave their travel tales, share local expertise, and offer valuable insights. Explorer is not just about navigating destinations; it's about creating and contributing to a shared narrative of exploration. Join us, connect with fellow wanderers, and let's build a collective tapestry of unforgettable journeys.
            </div>
            <div class="quote">
                <div class="quote-text">
                    "Explorer allowed me to connect with fellow adventurers in clubs where we share our stories, swap travel tips, and create a bond that transcends borders."
                </div>
                <div class="quoted-by">
                    Uroš Nikolovski, Sremski Karlovci, 2024.
                </div>
            </div>
            <img class="image" src="https://images.pexels.com/photos/7624850/pexels-photo-7624850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        </div>
        <div class="section">
            <div class="title">Create and sell your own tours</div>
            <div class="paragraph">
                Explorer is a place where tour guides transcend traditional roles to become Tour Authors, crafting immersive and engaging adventures for the curious traveler. Our platform empowers guides to channel their passion for exploration into creating personalized, fun, and interactive tours. As a Tour Author, you have the creative freedom to design routes that showcase your local expertise, hidden gems, and unique perspectives. Share captivating stories, curate interactive challenges, and unveil the soul of each destination. With Explorer, not only do you guide tourists through their journey, but you also curate an unforgettable experience that resonates with their individual interests. Join our community of Tour Authors, unlock your storytelling potential, and turn your passion for guiding into a fulfilling venture. Your tours are not just routes, they're narratives waiting to be explored by a global audience.
            </div>
            <div class="quote">
                <div class="quote-text">
                    "Becoming a Tour Author with Explorer has elevated my role as a guide to new heights. Crafting interactive tours allows me to weave a unique narrative that captivates and immerses travelers in the heart of the destination."
                </div>
                <div class="quoted-by">
                    Boško Kulušić, Novi Sad, 2024.
                </div>
            </div>
            <img class="image" src="https://images.pexels.com/photos/2859169/pexels-photo-2859169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
        </div>
    </div>
</div>
